[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/CT Huang (reddum)
[access "refs/for/refs/*"]
	read = group user/CT Huang (reddum)
	push = group user/CT Huang (reddum)
	label-Code-Review = -2..+2 group user/CT Huang (reddum)
	label-Verified = -1..+1 group user/CT Huang (reddum)
	rebase = group user/CT Huang (reddum)
	removeReviewer = group user/CT Huang (reddum)
	submit = group user/CT Huang (reddum)
[access "refs/heads/*"]
	read = group user/CT Huang (reddum)
	create = group user/CT Huang (reddum)
	push = +force group user/CT Huang (reddum)
	pushMerge = group user/CT Huang (reddum)
[access "refs/tags/*"]
	push = +force group user/CT Huang (reddum)
	pushTag = group user/CT Huang (reddum)
	pushSignedTag = group user/CT Huang (reddum)
